.button {
    background-color: #f74c08;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
input {
    border: rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    height: 40px;
    width: 300px;
    cursor: pointer;
}